---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout title="Welcome to Astro.">
  <main>
    <section
      class="max-w-screen-2xl m-auto w-full grid grow gap-4 px-0 sm:px-0 md:grid-cols-2 md:flex-row lg:gap-6 lg:px-0 xl:px-0"
    >
      <div
        class="flex flex-1 flex-col items-start gap-12 pb-6 md:my-20 lg:my-44 lg:pb-0 pl-3 sm:pl-8 lg:pl-16 xl:pl-32"
      >
        <div class="flex max-w-lg flex-col gap-6">
          <h3 class="text-4xl font-semibold text-slate-950 md:text-6xl">
            Cocinas y refrigeración industrial que marcan la diferencia
          </h3>
          <p class="text-lg font-normal leading-7 text-slate-500">
            Cuidamos cada detalle para que tu negocio funcione con la máxima
            precisión, adaptándonos a tus necesidades específicas.
          </p>
        </div>
        <div class="flex gap-4">
          <button
            type="button"
            aria-disabled="false"
            class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-blue-700 stroke-white px-6 text-white hover:bg-blue-950 h-[42px] min-w-[42px] gap-2 disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100"
          >
            <div>Get a Template</div>
          </button>
          <button
            type="button"
            aria-disabled="false"
            class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 px-2 text-blue-700 h-[42px] min-w-[42px] gap-2 disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950"
          >
            <div>See More</div>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#1D4ED8"
              stroke-width="1.5"
              xmlns="http://www.w3.org/2000/svg"
              class="size-6 stroke-inherit"
            >
              <path
                d="M11 16L15 12L11 8"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <circle cx="12" cy="12" r="9"></circle>
            </svg>
          </button>
        </div>
      </div>
      <div
        class="order-first flex w-full flex-1 items-center justify-center bg-slate-50 py-28 md:order-last lg:py-0"
      >
        <img src="src/assets/img/cocina-header.jpg" alt="" />
      </div>
    </section>
  </main>
</IndexLayout>

<style></style>
